
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-app ng-controller="MainCtrl">

    <button ng-click="get()">取得 JsonTest 資料 (AngularJS)</button>
    <button id="btnJsonTest">取得 JsonTest 資料 (jQuery)</button>
    <hr />

    @* table.table>tr*2>td*5 *@

    <table class="table">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Active</th>
        </tr>
        <tr ng-repeat="item in data">
            <td>{{item.ProductId}}</td>
            <td>{{item.ProductName}}</td>
            <td>{{item.Stock}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.Active}}</td>
        </tr>
    </table>
</div>


@section Scripts {
<script src="~/Scripts/angular.js"></script>

<script>

    function MainCtrl($http, $scope) {
        $scope.get = function () {
            $http.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $http.post('/AR/JsonTest', '').then(function (result) {
                //console.log(result.data);

                $scope.data = result.data;

            });
        };
    }

    $('#btnJsonTest').bind('click', function () {
        $.getJSON('/AR/JsonTest', '', function (data) {
            console.log(data);
        })
    });
</script>

}
