@{
    ViewBag.Title = "About";
    if (IsAjax) 
    {
        Layout = "";
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Use this area to provide additional information.</p>


@Html.ActionLink(" ", "Index", null, new { @class = "btn btn-primary", data_name = "Will" })
<a href="@Url.Action("Index")" class="btn btn-primary" data-name="Will"></a>

@section scripts{
    <script>
        console.log('OK')
    </script>
}